.vs/UnityVS.ios/v14/.suo
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
UnityVS.ios.CSharp.Plugins.csproj
UnityVS.ios.CSharp.csproj
UnityVS.ios.sln
ios-csharp.sln
ios-csharp.v12.suo
ios.sln
ios.userprefs
Library/
obj/
Assets/UnityVS/
Temp/
Assets/UnityVS.meta
